@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --ratio: 1.48;
  --card-h: min(100dvh, calc(100dvw * var(--ratio)));
  --card-w: calc(var(--card-h) / var(--ratio));
  --u: calc(var(--card-h) / 148);
  --weight: 600;

  font-family:
    Pretendard,
    BlinkMacSystemFont,
    -apple-system,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1;
  font-weight: var(--weight);
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: var(--weight);
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  overflow: hidden;
}

#app {
  display: grid;
  place-items: center;
  width: 100dvw;
  height: 100dvh;
  background-color: #242424;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  inset: 0;
  z-index: 9;
  color: white;
  font-size: clamp(16px, calc(4.8 * var(--u)), 48px);
  background-color: rgba(0, 0, 0, 0.85);
}

.container {
  width: var(--card-w);
  height: var(--card-h);
  max-height: 100dvh;
  margin: 0;
  padding: calc(2 * var(--u));
  line-height: 1.3;
  position: relative;
  overflow: hidden;
}

.words {
  width: 100%;
  height: calc(100% - 4rem);
  overflow: hidden;
}

.word {
  display: inline-block;
  font-size: clamp(16px, calc(4.8 * var(--u)), 48px);
  padding-inline: calc(0.75 * var(--u));
  padding-block: calc(1.2 * var(--u));
  cursor: pointer;
  color: rgba(255, 255, 255, 0.4);
  transition:
    color 0.3s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.word:hover {
  color: rgba(255, 255, 255, 1);
}

.word[data-selected] {
  color: rgba(255, 255, 255, 1);
}

.excluded {
  opacity: 0;
  cursor: default;
}

footer {
  display: flex;
  width: 100%;
  gap: 1rem;
  background-color: transparent;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
}

.username {
  display: hidden;
  text-align: right;
  font-size: clamp(16px, calc(4.8 * var(--u)), 48px);
  width: clamp(5rem, calc(18 * var(--u)), 9rem);
  padding-inline: calc(0.75 * var(--u));
  color: rgba(255, 255, 255, 1);
  margin: 0;
  border: none;
  background-color: transparent;
  font-weight: var(--weight);
}
.username:focus {
  outline: none;
}
.username::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.complete-btn {
  cursor: pointer;
  border: none;
  position: fixed;
  left: calc(4 * var(--u));
  bottom: calc(4 * var(--u));
  border-radius: 5rem;
  width: calc(18 * var(--u));
  height: calc(18 * var(--u));
  font-size: calc(3.2 * var(--u));
  font-weight: 600;
}

.info-btn {
  cursor: pointer;
  border: none;
  position: fixed;
  right: calc(4 * var(--u));
  bottom: calc(4 * var(--u));
  border-radius: 5rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: 600;
}

h1,
p {
  cursor: default;
}
