@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-family:
    Pretendard,
    BlinkMacSystemFont,
    -apple-system,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1;
  font-weight: 500;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  overflow: hidden;
}

#app {
  width: 100dvw;
  height: 100dvh;
  background-color: #242424;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.loading {
  z-index: 9;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(255, 255, 255, 0.5);
}

.container {
  margin: 0 auto;
  padding-block: 1rem;
  padding-inline: 1rem;
  width: 67.56dvh;
  height: 100dvh;
  max-width: 40rem;
  line-height: 1.3;
}

.word {
  display: inline-block;
  font-size: clamp(1rem, 3.75dvh, 5dvh);
  padding-inline: 0.25rem;
  padding-block: 0.3dvh;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.4);
  transition:
    color 0.3s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.word:hover {
  color: rgba(255, 255, 255, 1);
}

.word[data-selected] {
  color: rgba(255, 255, 255, 1);
}

.excluded {
  opacity: 0;
  cursor: default;
}

footer {
  display: flex;
  width: 100%;
  gap: 1rem;
  background-color: transparent;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
}

.username {
  display: inline-flex;
  text-align: right;
  vertical-align: baseline;
  font-size: clamp(1rem, 3.75dvh, 5dvh);
  padding-inline: 0.35rem;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  width: clamp(5rem, 66vw, 8rem);
  border: none;
  background-color: transparent;
  font-weight: 500;
}
.username:focus {
  outline: none;
}
.username::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.complete-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 5rem;
  border: 1px solid transparent;
  padding: 0.5rem;
  width: 5rem;
  height: 5rem;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
}
