@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --ratio: 1.48;
  --card-h: min(100dvh, calc(100dvw * var(--ratio)));
  --card-w: calc(var(--card-h) / var(--ratio));
  --u: calc(var(--card-h) / 148);
  --weight: 600;

  font-family:
    Pretendard,
    BlinkMacSystemFont,
    -apple-system,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  line-height: 1;
  font-weight: var(--weight);
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: var(--weight);
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  overflow: hidden;
}

.frame {
  display: grid;
  place-items: center;
  width: 100dvw;
  height: 100dvh;
}

.info {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
  text-align: center;
  inset: 0;
  z-index: 9;
  color: white;
  font-size: clamp(16px, calc(4.8 * var(--u)), 48px);
  background-color: rgba(0, 0, 0, 0.85);
}

.info-txt {
  width: 100%;
  max-width: 40rem;
  text-align: left;
  padding-inline: 1rem;
  line-height: 1.5;
  margin: 0.25rem;
  font-size: 1.1rem;
  font-weight: 500;
}

.container {
  width: var(--card-w);
  height: var(--card-h);
  max-height: 100dvh;
  margin: 0;
  padding: calc(2 * var(--u));
  line-height: 1.3;
  position: relative;
  overflow: hidden;
}

.words {
  width: 100%;
  height: calc(100% - 4rem);
  overflow: hidden;
}

.word {
  display: inline-block;
  font-size: clamp(16px, calc(4.8 * var(--u)), 48px);
  padding-inline: calc(0.75 * var(--u));
  padding-block: calc(1.2 * var(--u));
  cursor: pointer;
  opacity: 0.6;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  touch-action: manipulation;
  transition:
    color 0.3s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

@media (hover: hover) and (pointer: fine) {
  .word:hover {
    opacity: 1;
  }
}
.selected {
  opacity: 1;
}

.excluded {
  opacity: 0;
  visibility: hidden;
  cursor: default;
}

footer {
  display: flex;
  width: 100%;
  gap: 1rem;
  background-color: transparent;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
}

.username {
  display: hidden;
  text-align: center;
  font-size: clamp(16px, calc(4.8 * var(--u)), 42px);
  width: clamp(12rem, calc(18 * var(--u)), 16rem);
  padding-inline: 1rem;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  border: none;
  background-color: transparent;
  font-weight: var(--weight);
  border-radius: 300%;
  outline-offset: 0;
}
.username:focus {
  outline: none;
}
.username::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.complete-btn {
  cursor: pointer;
  border: none;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  border-radius: 100%;
  width: calc(20 * var(--u));
  height: calc(12 * var(--u));
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  -webkit-backdrop-filter: blur(3px) saturate(1.4);
  backdrop-filter: blur(2px) saturate(1.4);
  transition: transform 5s cubic-bezier(0.23, 1, 0.32, 1);
}

.change-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  position: fixed;
  left: calc(6 * var(--u));
  bottom: calc(10 * var(--u));
  border-radius: 200%;
  width: calc(12 * var(--u));
  height: calc(8 * var(--u));
  font-weight: 600;
  background-color: transparent;
  -webkit-backdrop-filter: blur(3px) saturate(1.4);
  backdrop-filter: blur(3px) saturate(1.4);
}

.info-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  font-family: monospace;
  cursor: pointer;
  border: none;
  position: fixed;
  right: calc(4 * var(--u));
  top: calc(2 * var(--u));
  border-radius: 100%;
  width: calc(12 * var(--u));
  height: calc(8 * var(--u));
  font-weight: 600;
  background-color: transparent;
  -webkit-backdrop-filter: blur(3px) saturate(1.4);
  backdrop-filter: blur(3px) saturate(1.4);
}

h1,
p {
  cursor: default;
}

.overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100dvw;
  height: 1.5rem;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  z-index: 100;
  font-size: 0.85rem;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  touch-action: manipulation;
}

a {
  text-decoration: none;
  color: inherit;
}

.kakao-overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  z-index: 100;
  font-size: 1.25rem;
}
